@font-face {
  font-family: "Belligerent";
  src: url("font/belligerent.ttf");
}
/*Color*/
body {
  background-color: #c8d6d2;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Roboto, Arial;
  background-color: #c8d6d2;
  height: 100vh;
}

.header__navbar {
  color: #e8998d;
}
.header__navbar .header__navbar_container {
  display: grid;
  grid-template-columns: 20% auto 20%;
  margin: auto;
  width: 75%;
}
.header__navbar .header__navbar_logo {
  font-size: 3rem;
  font-family: "Belligerent", "Arial";
  color: black;
}
.header__navbar .header__navbar_links {
  display: flex;
  grid-column: 3/4;
  align-self: center;
  font-size: 1.3rem;
  color: black;
}
.header__navbar .header__navbar_links .produits {
  margin-right: 100px;
  color: black;
  font-family: Roboto;
}
.header__navbar .header__navbar_links .panier {
  color: black;
}

.btn_val {
  margin: 2% 0 10% 0;
}

.form_cart-none {
  display: none !important;
}

.numero_panier {
  color: brown;
}

h2 {
  text-align: center;
  font-size: 3rem !important;
  font-family: "Belligerent", "Arial";
  padding: 2% 0 !important;
}

h4 {
  font-family: "Belligerent", "Arial";
  font-size: 1.5rem !important;
  text-align: center;
}

.card {
  transition: 0.3s;
  width: 300px;
}
.card:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
  box-shadow: -1px -1px 22px -5px rgba(0, 0, 0, 0.4);
}
.card .size_img {
  width: 298px;
  height: 300px;
  object-fit: cover;
}
.card .btn {
  width: 30%;
  margin: 5% 0 0 0;
}

.card_product .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card_product .name1 {
  font-family: "Belligerent", "Arial";
  font-size: 2rem;
}
.card_product .description {
  padding: 2% 0;
}
.card_product .price {
  padding: 2% 0;
  font-weight: 600;
  font-size: 1.2rem;
}
.card_product button {
  margin: 2% 0;
}

.formulaire {
  background-color: #c8d6d2;
}

.champ_obligatoire {
  color: #e22b2b;
}

footer {
  background-color: #c8d6d2;
  height: 5%;
}
footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  margin: auto;
}
footer ul li {
  margin-right: 5%;
}
footer ul li a {
  color: black;
  font-size: 1.1rem;
  font-weight: 500;
}

.blue {
  font-size: 5rem;
}

.nav-link {
  color: black !important;
}

.bloc_left_price {
  color: #c01508;
  text-align: center;
  font-weight: bold;
  font-size: 150%;
}

.add_to_cart_block .price {
  color: #c01508;
  text-align: center;
  font-weight: bold;
  font-size: 200%;
  margin-bottom: 0;
}

.add_to_cart_block .price_discounted {
  color: #343a40;
  text-align: center;
  text-decoration: line-through;
  font-size: 140%;
}

.product_rassurance {
  padding: 10px;
  margin-top: 15px;
  background: #ffffff;
  border: 1px solid #6c757d;
  color: #6c757d;
}

.product_rassurance .list-inline {
  margin-bottom: 0;
  text-transform: uppercase;
  text-align: center;
}

.product_rassurance .list-inline li:hover {
  color: #343a40;
}

.reviews_product .fa-star {
  color: gold;
}

.pagination {
  margin-top: 20px;
}

/*
Color
$primary_color: #6c9a8b
$secondary_color: #e8998d
tertiary_color: #eed2cc
#fbf7f4
#a1683a

<i class="fas fa-puzzle-piece"></i>
                    <i class="fas fa-couch"></i>
                    <i class="fas fa-camera-retro"></i>
*/

/*# sourceMappingURL=style.css.map */
